$main-color: rgb(255, 111, 0);
$main-color-darker: rgb(255, 94, 0);

$ui-darkblue: #181d50;
$ui-blue: #1746a2;
$ui-lightblue: rgb(95, 157, 247);
$ui-orange: #ff731d;
$ui-bones: #fff7e9;
$ui-digitblue:#3F8CB3;

$bg-color: #cacaca;
$hr-color: rgb(46, 46, 46);
$orangered: #ff4500;
$nav-link-color: #ff731d;
$white: #fff;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$light-gray: #ddd;
$black: black;
$btn-color: #009fbe;
$btn-darkblue: rgb(13, 110, 253);
$underline-blue: #0d6efd;
$btn-color-hover: #ff6f00;
$star-available: rgb(255, 69, 0);
$btn-bg: rgb(0, 159, 190);
$btn-dark: #2e2e2e;
$fb-icon: #006eff;
$voltage12-color: rgb(0, 200, 255);
$voltage24-color: rgb(0, 100, 255);
$voltage48-color: rgb(0, 0, 0);
$insta: #ae00ff;
$other-motor-card: rgb(223, 189, 0);
$secondary-color: #f30000;
$text-shadow-color: rgb(129, 129, 129);
$box-shadow-color: rgb(129, 129, 129);
$footer-card-color: rgb(0, 30, 50);
$section-gradient: linear-gradient(
	90deg,
	rgba(0, 212, 255, 1) 0%,
	rgba(0, 0, 0, 1) 50%,
	#00d4ff 100%
);
