$main-color: rgb(255, 111, 0);
$main-color-darker: rgb(255, 94, 0);

$bg-color: #ebecf2;
$orangered: rgb(255,69,0);
$white: #fff;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$light-gray: #ddd;
$black: black;
$btn-color: #009fbe;
$btn-color-hover:#ff6f00;
$btn-bg: rgb(0, 159, 190);
$btn-dark: #2e2e2e;
$fb-icon: #006eff;
$insta: #ae00ff;
$secondary-color: #f30000;
$text-shadow-color: rgb(129, 129, 129);

$section-gradient: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,0,0,1) 50%, #00d4ff 100%);