.shadow-optional {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(138, 138, 138, 0.7);
	z-index: -1;
}

.hw-optional {
	position: relative;
	padding-top: 6em;
	z-index: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	background: rgb(189,195,199);
	background: linear-gradient(0deg, rgba(189,195,199,1) 0%, rgba(44,62,80,1) 100%);
	box-shadow: inset -0px -9px 17px -5px rgba(66, 68, 90, 0.5);	
}

.motor-connected-parts{
	background: none;
	box-shadow: none;
}


.hw-optional-hero{
	background-image: url(../image-accessory-640/Optional/optional-bg.jpg);
	background-position: 0 40%;
}

.hw-optional-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hw-optional-box {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255) 65%,
		rgba(191, 163, 136, 1) 100%
	);
	transition: all 0.5s;

	&:hover {
		background: rgb(255, 255, 255);
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255) 65%,
			rgb(141, 98, 58) 100%
		);
		
	}
}

.motor-connected-box{
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255) 65%,
		rgba(95, 157, 247, 1) 100%
	);
	transition: all 0.5s;

	&:hover {
		background: rgb(255, 255, 255);
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255) 65%,
			rgb(44, 108, 204) 100%
		);
		
	}

}




.product-category-text{
	font-size: 1.4rem;
	color: $black;
}