
.hw-propeller-hero{
	background-image: url(../background/propeller.webp);
	background-position: 0 30%;
}

.hw-propellers {
	position: relative;
	padding-top: 6em;
	z-index: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	background: rgb(189,195,199);
	background: linear-gradient(0deg, rgba(189,195,199,1) 0%, rgba(44,62,80,1) 100%);
	box-shadow: inset -0px -9px 17px 0px rgba(66, 68, 90, 1);
	.propeller-box {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: left;
		border-radius: 5px;
		box-shadow: 2px 2px 5px black;
		background: rgb(255, 255, 255);
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255) 65%,
			rgba(191, 163, 136, 1) 100%
		);
		transition: all 0.5s;

		&:hover {
			background: rgb(255, 255, 255);
			background: linear-gradient(
				180deg,
				rgba(255, 255, 255) 65%,
				rgb(187, 130, 77) 100%
			);
		}
	}
	.product-category {
		// line-height: 20px;
		display: flex;
		span {
			font-weight: bold;
		}
		p {
			font-size: 1.4em;
		}
	}
}





// .other-acc-propeller-section:hover .other-hw-acc-card-title {
// 	transform: scale(1.1);
// }
